h2 {
    font-size: 16px;
}

span {
    font-size: 11px;
}

.headImage {
    width: 150px;
}

a {
    font-size: 10px;
}

.content {
    padding: 10px;
    display: inline-block;
    vertical-align: 36%;

}